Repository SixLabors/ImageSharp.Drawing, pull requests merged in 2021-07, with the labels that each got.

#149 Allow implementing custom brush types
  src/ImageSharp.Drawing/Processing/BrushApplicator.cs
Labels: API

#145 Added wrapper for ClipperOffset algorithm to fix internal exception
  src/ImageSharp.Drawing/Shapes/ClipPathExtensions.cs
  src/ImageSharp.Drawing/Shapes/Clipper/clipper.cs
  src/ImageSharp.Drawing/Shapes/OutlinePathExtensions.cs
  src/ImageSharp.Drawing/Shapes/PolygonClipper/Clipper.cs
  src/ImageSharp.Drawing/Shapes/PolygonClipper/ClipperException.cs
  src/ImageSharp.Drawing/Shapes/PolygonClipper/ClipperOffset.cs
  tests/ImageSharp.Drawing.Tests/Shapes/PolygonClipper/ClipperTests.cs
Labels: API, area:shapes, bug

#152 DrawTextProcessor - Handle Empty Paths
  src/ImageSharp.Drawing/Processing/Processors/Text/DrawTextProcessor{TPixel}.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Text/DrawTextOnImageTests.cs
  tests/ImageSharp.Drawing.Tests/Issues/Issue_46.cs
  tests/ImageSharp.Drawing.Tests/TestFontUtilities.cs
  tests/ImageSharp.Drawing.Tests/TestFonts.cs
  tests/ImageSharp.Drawing.Tests/TestFonts/WendyOne-Regular.ttf
Labels: bug, text

#150 Remove Region and add new Clip Extension
  src/ImageSharp.Drawing/Primitives/Region.cs
  src/ImageSharp.Drawing/Primitives/ShapePath.cs
  src/ImageSharp.Drawing/Primitives/ShapeRegion.cs
  src/ImageSharp.Drawing/Processing/Extensions/ClearExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/ClearPathExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/ClearRectangleExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/ClearRegionExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/ClipPathExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/FillExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/FillPathBuilderExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/FillPathExtensions.cs
  src/ImageSharp.Drawing/Processing/Extensions/FillRegionExtensions.cs
  src/ImageSharp.Drawing/Processing/ImageBrush.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/ClipPathProcessor.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/ClipPathProcessor{TPixel}.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/DrawPathProcessor.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/FillPathProcessor.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/FillPathProcessor{TPixel}.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/FillProcessor.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/FillProcessor{TPixel}.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/FillRegionProcessor.cs
  src/ImageSharp.Drawing/Processing/Processors/Text/DrawTextProcessor{TPixel}.cs
  src/ImageSharp.Drawing/Shapes/IPath.cs
  tests/ImageSharp.Drawing.Tests/Drawing/ClipTests.cs
  tests/ImageSharp.Drawing.Tests/Drawing/DrawPolygonTests.cs
  tests/ImageSharp.Drawing.Tests/Drawing/FillPolygonTests.cs
  tests/ImageSharp.Drawing.Tests/Drawing/FillRegionProcessorTests.cs
  tests/ImageSharp.Drawing.Tests/Drawing/FillSolidBrushTests.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/Clear.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/ClearPath.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/ClearRectangle.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/ClearRegion.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/DrawBezier.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/DrawLine.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/DrawPath.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/DrawPathCollection.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/DrawPolygon.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/DrawRectangle.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/Fill.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/FillPath.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/FillPathBuilder.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/FillPathCollection.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/FillPolygon.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/FillRectangle.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/FillRegion.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/ShapePathTests.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Paths/ShapeRegionTests.cs
  tests/ImageSharp.Drawing.Tests/Drawing/Text/DrawText.cs
  tests/ImageSharp.Drawing.Tests/Processing/BaseImageOperationsExtensionTest.cs
  tests/ImageSharp.Drawing.Tests/Processing/FillPathProcessorTests.cs
  tests/Images/ReferenceOutput/Drawing/ClipTests/Clip_offset_x-20_y-20.png
  tests/Images/ReferenceOutput/Drawing/ClipTests/Clip_offset_x0_y0.png
  tests/Images/ReferenceOutput/Drawing/ClipTests/Clip_offset_x20_y20.png
  tests/Images/ReferenceOutput/Drawing/ClipTests/Clip_offset_x40_y60.png
  tests/Images/ReferenceOutput/Drawing/DrawPolygonTests/DrawPolygon_Transformed_Rgba32_BasicTestPattern250x350.png
  tests/Images/ReferenceOutput/Drawing/FillPolygonTests/FillPolygon_ImageBrush_Rect_Rgba32_Car_rect.png
  tests/Images/ReferenceOutput/Drawing/FillPolygonTests/FillPolygon_ImageBrush_Rect_Rgba32_ducky_rect.png
Labels: API
